body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.container {
    width: 100%;
    max-width: 600px;  /* Mengurangi lebar untuk tampilan lebih baik pada mobile */
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
    font-size: 2em;
    margin-bottom: 20px; /* Memberikan jarak antara h1 dan form */
    text-align: center; /* Memastikan judul di tengah */
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

th, td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #4CAF50;
    color: white;
}

td {
    background-color: #f4f4f4;
}

button, .button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover, .button:hover {
    background-color: #45a049;
}

button.delete {
    background-color: #e74c3c;
}

button.delete:hover {
    background-color: #c0392b;
}

a {
    text-decoration: none;
}

form {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form input, form button {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form input:focus, form button:focus {
    border-color: #4CAF50;
}

form button {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

form button:hover {
    background-color: #45a049;
}

a.button {
    text-decoration: none;
    margin-top: 20px;
    display: inline-block;
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border-radius: 5px;
}

a.button:hover {
    background-color: #45a049;
}
